<form action="/users" method="post">
  <label>Name</label>
  <input name="user[name]" type="text">

  <label>Phone</label>
  <input name="user[phone]" type="text">

  <label>Password</label>
  <input name="user[password]" type="text">
  
  <input type="submit">
</form>
