/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --main-blue: #ADDFFF;
  --main-yellow: #FFDF00; /* --main-yellow: #F8D45A; */
  --main-dark: #282828;
  --main-light: #E4E8ED;
}

body, html {
  background-color: var(--main-blue);
  font-family: 'Roboto', sans-serif;
  color: var(--main-dark);
  font-weight: bold;
}

input, button {
  background-color: var(--main-light);
  font-weight: bold;
  outline: none;
}

a {
  color: var(--main-dark);
}

.fas {
  color: var(--main-dark);
  font-size: 1.5em;
}
