/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --main-blue: #B6E2FF;
  --main-yellow: #F8D45A;
  --main-dark: #282828;
  --main-light: #E4E8ED;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-blue);
  font-family: 'Roboto', sans-serif;
  color: var(--main-dark);
  font-weight: bold;
}

a {
  color: var(--main-dark);
  display: block;
  text-align: center;
}

input, button {
  background-color: var(--main-light);
  font-weight: bold;
  outline: none;
}

.busySwitch {
  border-color: var(--main-dark);
  font-size: 2em;
  margin-top: 4em;
}

.signout {
  text-align: left;
}

.removeFriendButton {
  background-color: var(--main-blue);
  border-color: var(--main-blue);
  color: var(--main-dark);
  -webkit-text-stroke: .5px var(--main-light);
  font-size: 1em;
}

.settingsContent {
  padding-left: 2em;
}

#yesChecked {
  background-color: var(--main-yellow);
}

#noChecked {
  background-color: var(--main-light);
}

#notification {
  text-align: center;
  color: var(--main-yellow);
  -webkit-text-stroke: 1px var(--main-dark);
  font-size: 2em;
  font-weight: bold;
  margin-top: 4em;
}

#settingsLink {
  margin-top: 8em;
  text-align: center;
}
