.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexColumnEnds {
  margin-top: 8rem;
  height: 4em;
}

.busySwitch {
  margin-top: 2rem;
  font-size: 2rem;
  border-color: var(--main-dark);
}

.busy {
  border-radius: 2rem 0 0 2rem;
}

.free {
  border-radius: 0 2rem 2rem 0;
}

#notification {
  text-align: center;
  font-size: 2rem;
  color: var(--main-yellow);
  -webkit-text-stroke: .05rem var(--main-dark);
  font-weight: bold;
}

#yesChecked {
  background-color: var(--main-yellow);
}

#noChecked {
  background-color: var(--main-light);
}
