.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.columnEnd {
  margin-top: 20vh;
}

.busySwitch {
  margin-top: 20vh;
  border-color: var(--main-dark);
  font-size: 10vw;
}

.busy {
  border-radius: 5vw 0 0 5vw;
}

.free {
  border-radius: 0 5vw 5vw 0;
}

#notification {
  text-align: center;
  color: var(--main-yellow);
  -webkit-text-stroke: .025em var(--main-dark);
  font-size: 2em;
  font-weight: bold;
}

#yesChecked {
  background-color: var(--main-yellow);
}

#noChecked {
  background-color: var(--main-light);
}
