.settingsHeading {
  font-size: 2em;
  background-color: var(--main-blue);
  border: none;
}

.settingsContent {
  padding-left: 2em;
}

.searchResult {
  font-size: 1em;
  background-color: var(--main-blue);
  border: none;
}

.removeFriendButton {
  font-size: 1em;
  background-color: var(--main-blue);
  border-color: var(--main-blue);
  color: var(--main-dark);
  -webkit-text-stroke: .025em var(--main-light);
}

#backLinkContainer {
  display: flex;
  justify-content: center;
}
